<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones Morfólogicas</title>
    <style>
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: #f1f1bc;
            color: black;
            text-align: center;
        }
        .containerHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form {
            margin-top: 3rem;
        }
    </style>
    <script>
        function validateFileInput() {
            const fileInput = document.getElementById("fileInput");
            const submitButton = document.getElementById("submitButton");

            if (fileInput.files.length > 3) {
                alert("Solo puede cargar hasta un máximo de 3 imágenes.");
                fileInput.value = "";
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }
    </script>
</head>
<body class="container">
    <div class="containerHeader">
        <h1>Operaciones Morfológicas para imágenes médicas</h1>
        <img src="{{ url_for('static', filename='Header.webp') }}" alt="Image header" width="50%">
    </div>
    <h2>Solo puede cargar hasta un máximo de 3 imágenes</h2>
    <form class="form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="files[]" accept="image/*" required multiple onchange="validateFileInput()">
        <input type="submit" id="submitButton" value="Cargar">
    </form>
</body>
</html>
